<%- include ("partials/header") %> 



    <div class="error-container">
        <h1>Sorry The Movie You Are Searching For Is Not Valid Name</h1>
        <h2>Please Enter A Valid Movie Name</h2>
    </div>

<%- include ("partials/footer") %> 














