<%- include ('partials/header') %> 
<h1>Search For A Movie</h1>
<form action="/results" method="GET">
    <input type="text" placeholder="Search Movie" name="search" id="s-movie">
    <input type="submit">
</form>
<%- include ('partials/footer') %> 